#logo {
  border: none;
  width: 100px;
  -webkit-box-shadow: none;
  box-shadow: none;
  float: left;
  margin-top: -10px;
}

.centerImg {
  width: 500px;

  margin: 20px auto;
}

.centerImg img {
  max-width: 100%;
}

#project_title {
    margin-left: 170px;
}
